#section4 {
  width: 100%;
  height: 400px;
  background-image: url(https://www.gselevators.co.kr/resources/kr/images/main/sec03_bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
